<div class="row">
  <div class="col">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-fluid"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group" appDropdown #r="appDropdown">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{ show: r.isOpen }">
        <li>
          <a
            class="dropdown-item"
            (click)="onAddToShoppingList()"
            style="cursor: pointer"
            >To Shopping List</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="onEditRecipe()"
            style="cursor: pointer"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onDeleteRecipe()"
            >Delete Recipe</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
