<nav>
  <a
    id="home"
    routerLink="custom-form-field-control"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Custom form field control</a
  >
  <a
    id="elevation"
    routerLink="elevation"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Elevation helpers</a
  >
  <a
    id="custom-stepper"
    routerLink="custom-stepper"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Customer stepper using the CdkStepper</a
  >
</nav>
<router-outlet></router-outlet>
