<nav>
  <a
    routerLink="resolution-modifiers"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Resolution modifiers</a
  >
  <a
    routerLink="providers-vs-view-providers"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >providers vs. viewProviders</a
  >
  <a
    routerLink="hierarchical-dependency-injection"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Hierarchical Dependency Injection</a
  >
</nav>
<router-outlet></router-outlet>
