<nav>
  <a
    routerLink="ngrx-store-counter"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >@ngrx/store - Counter</a
  >
  <a
    routerLink="ngrx-store-books"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >@ngrx/store - Books</a
  >
  <a
    routerLink="ngrx-router-store-cars"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >@ngrx/router-store - Cars</a
  >
  <a
    routerLink="ngrx-component-store-slide-toggle"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >@ngrx/component-store - Slide Toggles</a
  >
  <a
    routerLink="ngrx-component-store-paginator-providing-component-store"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >@ngrx/component-store - PaginatorComponent providing ComponentStore</a
  >
  <a
    routerLink="ngrx-component-store-paginator-with-paginator-store-service"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >@ngrx/component-store - PaginatorComponent with PaginatorStore Service</a
  >
</nav>
<router-outlet></router-outlet>
